body {
	background: #ffe6f2;
      	font-family: Arial, sans-serif;
      	justify-content: center;
	align-items: center;
    	}
h1 {
	color: #ff2d78;
      	margin-bottom: 20px;
    }

.hearts {
	display: flex;
      	gap: 15px;
      	flex-wrap: wrap;
      	justify-content: center;
    }
.heart {
      	font-size: 60px;
      	animation: beat 1s infinite;
      	cursor: pointer;
    }
@keyframes beat {
      	0%, 100% { transform: scale(1); }
      	50% { transform: scale(1.2); }
    }

.heart:hover {
      	transform: scale(1.3);
      	transition: transform 0.2s;
    }